.topBtns {
    font-size: 12pt;
}

.tabItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border: gray;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
}

.tabItemSelected {
    background: lightblue;
}

.windowsContainer {
    border-bottom: black;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding: 6px;
}

.window {}

.windowTitle{}

.itemText {
    padding-left: 5px;
}

.tabCheckbox {
    margin-left: 10px;
    margin-right: 10px;
}

.tabFavicon {
    margin-left: 10px;
    margin-right: 10px;
}