.tabItem {
    display: flex;
    align-items: center;
    padding: 10px;

}

.windowsContainer {}

.window {}

.windowTitle{}

.itemText {
    padding-left: 5px;
}

.tabCheckbox {
    margin-left: 10px;
    margin-right: 10px;

}

.tabFavicon {
    margin-left: 10px;
    margin-right: 10px;
}